:root {
  --border-rad: 1.2rem;
}

/* START GENERAL RULES */

body,
ul {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h2 {
  margin: 0 1rem 2rem 1rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 400;
  border-radius: var(--border-rad);
  text-align: center;
  background-color: whitesmoke;
}

/* END OF GENERAL RULES */
/* START ICON RULES */

.fa {
  color: black;
}

.fa-instagram:hover {
  color: #f77737;
}

.fa-twitter-square:hover {
  color: #1da1f2;
}

.fa-linkedin-square:hover {
  color: #0072b1;
}

.fa-github:hover {
  color: #6b0025;
}

.fa-free-code-camp:hover {
  color: #3b2d8e;
}

/* END ICON RULES */
/* START NAV */

#navbar {
  position: sticky;
  top: 0;
  background-color: #efefef77;
  padding: 0;
  backdrop-filter: blur(20px);
}

#navbar ul {
  display: flex;
}

#navbar ul li {
  margin: 1rem 0;
  padding: 1rem;
  width: max-content;
  border-bottom: 0.2rem solid transparent;
}

#navbar ul li:hover {
  border-bottom: 0.2rem solid #97324d;
}

#navbar ul li a {
  color: black;
  text-decoration: none;
  padding: 1rem;
}

/* END NAV */
/* START WELCOME SECTION */

#welcome-section {
  display: flex;
  align-items: stretch;
  flex-direction: row-reverse;
}

#welcome-section img {
  width: 40%;
  margin: 2rem 1rem;
  border-radius: var(--border-rad);
  object-fit: cover;
}

.text-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: whitesmoke;
  background: radial-gradient(at 0% 100%, rgb(123, 211, 255) -30%, whitesmoke 50%, whitesmoke 65%, rgba(255, 255, 0, 0.53) 120%);
  width: 60%;
  margin: 2rem 1rem;
  padding: 2rem;
  border-radius: var(--border-rad);
}

.text {
  margin: 0;
  padding: 0;
}

.text-part div h1 {
  font-size: 4rem;
  margin: 0;
}

.text-part div p {
  font-size: 1.5rem;
}

.heading-links {
  display: flex;
  align-items: center;
}

.contact-btn {
  color: whitesmoke;
  text-decoration: none;
  background-color: black;
  border-radius: var(--border-rad);
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

.heading-icons li {
  display: inline-block;
  margin: 0 0.5rem;
}



#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  gap: 2rem;
  margin: 1rem;
}

.project-tile {
  background-color: whitesmoke;
  border-radius: var(--border-rad);
  text-align: center;
  text-decoration: none;
  color: black;
}

.project-tile img {
  border-radius: var(--border-rad) var(--border-rad) 0 0;
  width: 100%;
}

.description {
  display: none;
}



.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box p {
  font-size: 4rem;
  margin: 0 1rem;
  text-align: left;
  padding: 2rem;
  background-color: whitesmoke;
  border-radius: var(--border-rad);
}

.box ul {
  font-size: 2rem;
}

.skill {
  margin: 0.5rem 1rem;
  padding: 0.42rem;
  color: white;
  border-radius: var(--border-rad);
}

.js {
  background-color: #f7df1e;
  color: black;
}

.jq {
  background-color: #0868ac;
}

.bs {
  background-color: #602c50;
}

.html {
  background-color: #e34c26;
}

.css {
  background-color: #2965f1;
}

.py {
  background-color: #4584b6;
}

.java {
  background-color: #5382a1;
}

.cpp {
  background-color: #044f88;
}

.c {
  background-color: #646464;
}



aside {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000088;
  backdrop-filter: blur(1rem);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: none;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#overlay {
  width: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 85%;
  min-width: 320px;
  max-width: 650px;
  color: black;
  text-decoration: none;
  cursor: default;
}

#overlay-img {
  width: 100%;
  border-top-left-radius: var(--border-rad);
  border-top-right-radius: var(--border-rad);
}

#overlay-caption {
  background-color: white;
  padding: 1rem;
  border-bottom-left-radius: var(--border-rad);
  border-bottom-right-radius: var(--border-rad);
}

#overlay-caption h2 {
  background-color: white;
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: bold;
}

#overlay-btns {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.overlay-btn {
  width: 45%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: var(--border-rad);
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#visit {
  background-color: #007aff;
  color: white;
  margin-right: 0.5rem;
}

#visit:hover {
  background-color: #2965f1;
}

#visit:active {
  background-color: #0868ac;
}

#close {
  background-color: #eeeeee;
  color: black;
  margin-left: 0.5rem;
}

#close:hover {
  background-color: #dedede;
}

#close:active {
  background-color: #aaaaaa;
}



footer {
  margin: 1rem 1rem 0 1rem;
  padding: 1.5rem;
  background-color: whitesmoke;
  border-radius: var(--border-rad) var(--border-rad) 0 0;
  text-align: center;
}

.connect {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li {
  margin: 1rem;
}



@media (max-width: 758px) {
  #welcome-section {
    flex-wrap: wrap;
    justify-content: center;
  }
  #welcome-section img {
    width: 90%;
    height: 50%;
  }
  .text-part {
    width: 100%;
    margin: 0 1rem;
  }
}

@media (max-width: 449px) {
  .text-part div h1 {
    font-size: 2.5rem;
  }
  .text-part div p {
    font-size: 1rem;
  }
}
